.header {
  height: 65px;
  padding: 0 20px;
  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  & img {
    padding: 6px 0 0 0;
    width: 150px;
  }

  .favorites {
    color: var(--peach-yellow);
    background-color: var(--khaki);
    border-radius: 20px;
    padding: 5px 10px;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      background-color: var(--peach-yellow);
      color: var(--khaki);
    }
  }

  & a {
    text-decoration: none;
  }
}

@media all and (min-width: 400px) and (max-width: 500px) {
  .header {
    & img {
      width: 90px;
    }

    .favorites {
      font-size: 12px;
      padding: 6px 4px;
    }
  }
}

@media all and (max-width: 400px) {
  .header {
    & img {
      width: 70px;
    }

    .favorites {
      font-size: 10px;
      padding: 10px 6px;
    }
  }
}
