:root {
  --reseda-green: #797d62;
  --moss-green: #9b9b7a;
  --khaki: #baa587;
  --desert-sand: #d9ae94;
  --tan: #e5c59e;
  --peach-yellow: #f1dca7;
  --jasmine: #f8d488;
  --sunglow: #ffcb69;
  --persian-orange: #d08c60;
  --persian-orange-rgb: 208, 140, 96;
  --beaver: #997b66;
  --background: #f5f5f5;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Nunito', sans-serif;
  background-color: var(--background);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@import './Header.css';
@import './SearchBar.css';
@import './LoadingSpinner.css';
@import './Card.css';
@import './RecipesCarousel.css';
@import './Filters.css';
@import './RecipeDetails.css';
@import './Ingredient.css';
@import './Instruction.css';
@import './NavButtons.css';
@import './Footer.css';
