.ingredient-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: fit-content;
  max-width: 100px;
  height: 140px;
  padding: 30px;

  border-radius: 15px;
  background-color: white;
  box-shadow: 5px 5px 7px var(--peach-yellow);

  & img {
    height: 80px;
  }

  & div {
    margin-top: 8px;
  }
}
